---
layout: base
title: Ultimate Frisbee in Bangalore
carousel: 1
extra_js:
- /js/script.js
---

<center><h1 class="page_title">Bangalore Ultimate Open</h1></center>
<center><img src="{{site.baseurl}}images/buo2015.jpg"></center>
<br><br><p>....and we're back! After three hugely successful tournaments, we bring you the most awaited tournament of the year - Bangalore Ultimate Open 2015. The tournament will be held at the Jain International Residential School campus on Kanakapura Road. We take things to a much higher level this year, the competition gets more fierce. This year the tournament gets bigger and better.<br><br>Mark your calendars for an insane weekend of Ultimate. June 26(Fri), 27(Sat) and 28(Sun). <em><a href="{{site.baseurl}}open/">More details here</a></em>.</p>
<p>For any immediate questions you can write to us at contact@bangaloreultimate.com. Stay tuned for more updates.</p><br><br>
<div id="content_half">
    <h3>Karnataka Ultimate Players Association</h3>
    <a href="{{site.baseurl}}join/"><img src="{{site.baseurl}}images/kupa.jpg"></a>
    <p><br>On Feb 22 2011, Karnataka Ultimate Players Association(KUPA) was successfully registered with the Govt of Karnataka. The organization was formed primarily to be able to take up various Ultimate initiatives with the Govt of Karnataka. It would help us procure better ground facilities for the tournaments.<br><br>In the coming days KUPA also aims toward facilitating Ultimate training for new teams and helping build new teams across the state. Long term plans for the sport also include taking the sport directly to schools and colleges.</p>
</div>
<div id="content_half">
    <h3>Teams In Bangalore</h3>
    {% for team in site.data.teams %}
    <a {% if team.url %}href="{{site.baseurl}}{{team.url}}/"{% endif %}
       alt="{{team.name}}" title="{{team.name}}">
        <img class="ad" src="{{site.baseurl}}{{team.logo}}">
    </a>
    {% endfor %}
</div>
<div id="content_full">
    <a href="{{site.baseurl}}open/"><img src="{{site.baseurl}}images/wide_BUO.jpg"></a>
    <a href="https://www.google.co.in/maps/dir//Jain+International+Residential+School,+Jakkasandra+Post,+Kanakapura+Taluk,+Bangalore,+Karnataka+562121/@12.6385596,77.409349,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bae5ba15c59b461:0x5d8b739c21bdaea1!2m2!1d77.443682!2d12.638478" target="_blank" ><img src="images/gmap150.jpg"></a>
    <a href="{{site.baseurl}}join/"><img src="{{site.baseurl}}images/wide_joinus.jpg"></a>
</div>
