<div id="header">
		<!-- jQuery handles to place the header background images -->
    <div id="headerimgs">
		    <div id="headerimg1" class="headerimg"></div>
		    <div id="headerimg2" class="headerimg"></div>
    </div>
    <!-- Logo -->
    <div id="logo_bg">
		    <div id="logo">
				    <a href="index.html"><img src="{{site.baseurl}}/images/logo.png" class="right"></a>
		    </div>
    </div>
    <!-- Slideshow controls -->
    <div id="headernav-outer">
		    <div id="headernav">
				    <div id="back" class="btn"></div>
				    <div id="control" class="btn"></div>
				    <div id="next" class="btn"></div>
		    </div>
    </div>
    <!-- jQuery handles for the text displayed on top of the images -->
    <div id="headertxt">
		    <p class="caption">
				    <span id="firstline"></span>
				    <span id="secondline"></span>
		    </p>
    </div>
</div>
