<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <link rel="icon" type="image/ico" href="{{site.baseurl}}/images/favicon.ico"/>

        <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1"/>
        <meta name="description" content="Bangalore Ultimate is one of the biggest Ultimate hubs in the country. Bangalore has above eight teams. Bangalorean teams have been top contendors for all the tournaments across the country. Bangalore Ultimate Open is Bangalore's Annual Ultimate frisbee competition. The best teams come here year on year to compete for the much coveted top spot." />
        <meta name="keywords" content="Ultimate, Frisbee, Bangalore, India, Ultimate Frisbee, Ultimate Frisbee in Bangalore, Ultimate Frisbee in India, BUO, BUO11, BUO 2010, BUO 2012, BUO 2013, Frisbee in Bangalore, Kanteerava Stadium, Ultimate Open in India, Ultimate is played in India, Ultimate is played in Bangalore, play ultimate in India, Play ultimate in Bangalore, Play Frisbee in Bangalore" />

        <script type="text/javascript">
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-11470013-2']);
         _gaq.push(['_trackPageview']);

         (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
        </script>

	      <title>Bangalore Ultimate | {{ page.title }}</title>

        <base href="{{site.baseurl}}" />

	      <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css"/>
	      <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/menu.css" />
	      <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/design.css" />
        {% for css_name in page.extra_css %}
        <link rel="stylesheet" href="{{ css_name|prepend: site.baseurl }}">
        {% endfor %}

	      <script src="{{site.baseurl}}/js/modernizr.custom.63321.js"></script>
	      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    </head>

    <body>
	      <div id="wrapper">

		        <div id="header_upd">
			          <div id="logo_bg">
				            <div id="logo">
					              <a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/images/logo.png"></a>
				            </div>
			          </div>
		        </div>

            <!-- Navigation -->
            <div class="menu">
	              <ul id="ldd_menu" class="ldd_menu">
		                <li><a href="{{site.baseurl}}/index.html">Home</a></li>
		                <li><a href="{{site.baseurl}}/what_is_ultimate/index.html">Ultimate</a></li>
		                <li>
			                  <span>Bangalore Ultimate</span>
			                  <div class="ldd_submenu">
				                    <ul>
					                      <li><a href="{{site.baseurl}}/about/index.html">About Us</a></li>
					                      <li><a href="{{site.baseurl}}/timeline/index.html">Timeline</a></li>
					                      <li><a href="{{site.baseurl}}/calendar/index.html">Calendar</a></li>
					                      <li><a href="{{site.baseurl}}/join/index.html">Join Us</a></li>
				                    </ul>
			                  </div>
		                </li>
		                <li>
			                  <span>BU Teams</span>
			                  <div class="ldd_submenu">
				                    <ul>
					                      <li><a href="{{site.baseurl}}/airbenders/index.html">Airbenders</a></li>
					                      <li><a href="{{site.baseurl}}/airtrafficcontrol/index.html">Air Traffic Control</a></li>
					                      <li><a href="{{site.baseurl}}/discodeewane/index.html">Disc O Deewane</a></li>
					                      <li><a href="{{site.baseurl}}/falcons/index.html">Falcons</a></li>
					                      <li><a href="{{site.baseurl}}/learningtofly/index.html">Learning to Fly</a></li>
					                      <li><a class="pink">See Emily Play</a></li>
					                      <li><a href="{{site.baseurl}}/thatteidlikaalsoup/index.html">Thatte Idli Kaal Soup</a></li>
				                    </ul>
			                  </div>
		                </li>
		                <li>
			                  <a href="{{site.baseurl}}/open/index.html"><span>Bangalore Ultimate Open</span></a>
			                  <div class="ldd_submenu">
				                    <ul>
					                      <li><a href="{{site.baseurl}}/updates/index.html">Updates</a></li>
				                    </ul>
			                  </div>
		                </li>
		                <!--<li><a href="#">Gallery</a></li>-->
		                <li><a href="{{site.baseurl}}/contact/index.html">Contact Us</a></li>
	              </ul>
            </div>
            <!--[if IE]>
                <div id="ie_warn">
	              <div id="warn">
		            <img src="{{site.baseurl}}/images/ie_fail.png" align="left" style="box-shadow:none; border-radius:0; padding-right:25px; border:none">
		            <h3>Still using Internet Explorer..??</h3>
		            <p>No wonder most of the pages do not work as expected. Haven't you heard of Chrome, Safari or Firefox.<br> High time you switched out of IE. Its not 1995.</p>
	              </div>
                </div>
            <![endif]-->

		        <div id="content">
			          <div id="content_main">
                    {{ content }}
			          </div>
		        </div>

		        <div id="footer">
			          <div id="footer_content">
				            <div id="footer_left">
					              <h3>Bangalore Ultimate Open</h3>
					              <p>&copy; 2012 BangaloreUltimate.com. All Rights Reserved.</p>
					              <p>
                            <a href="{{site.baseurl}}/sponsor/index.html">Be a Sponsor</a> |
                            <a href="{{site.baseurl}}/advertise/index.html">Advertise with us</a> |
                            <a href="{{site.baseurl}}/about/index.html">About us</a> |
                            <a href="{{site.baseurl}}/join/index.html">Join us</a>
                        </p>
				            </div>
				            <div id="footer_right">
					              <h3>Follow Us</h3>
					              <p>
						                <a class="icon-facebook" target="_blank" href="index.html#">Facebook</a>
						                <a class="icon-twitter" target="_blank" href="index.html#">Twitter</a>
					              </p>
				            </div>
			          </div>
		        </div>
	      </div>

	      <script type="text/javascript">
		     $(function() {
			       var $menu = $('#ldd_menu');
			       $menu.children('li').each(function(){
				         var $this = $(this);
				         var $span = $this.children('span');
				         $span.data('width',$span.width());

				         $this.bind('mouseenter',function(){
					           $menu.find('.ldd_submenu').stop(true,true).hide();
					           $this.find('.ldd_submenu').slideDown(250);
				         }).bind('mouseleave',function(){
					           $this.find('.ldd_submenu').stop(true,true).hide();
				         });
			       });
		     });
	      </script>

        {% for js_name in page.extra_js %}
        <script type="text/javascript" src="{{js_name|prepend: site.baseurl}}"></script>
        {% endfor %}


    </body>
</html>
