---
layout: base
---
<div id="content_left">
    <h1 class="page_title">{{page.title}}</h1>
    {{ content }}
</div>

<div id="content_right">
    <a href="{{site.baseurl}}join/"><img class="ad" src="{{site.baseurl}}images/wide_joinus.jpg"></a>
    <h3 style="padding-left:20px">Advertizing</h3>
    <a href="{{site.baseurl}}advertise/"><img class="ad" src="{{site.baseurl}}images/ad25.jpg" width="145px"></a>
    <a href="{{site.baseurl}}advertise/"><img class="ad" src="{{site.baseurl}}images/ad25.jpg" width="145px"></a>
    <br><h3 style="padding-left:20px">Facebook</h3>
    <div id="fb">
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2FBangaloreUltimate&amp;send=false&amp;layout=standard&amp;width=300&amp;show_faces=true&amp;font=verdana&amp;colorscheme=light&amp;action=like&amp;height=80&amp;appId=208745642493302" scrolling="no" frameborder="1" style="border:none; overflow:hidden; width:300px; height:80px;" allowTransparency="true"></iframe>
    </div>
</div>
